.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 1120px) {
    .photo-grid {
        max-width: 928px;
        gap: 14px;
    }
}

@media screen and (max-width: 960px) {
    .photo-grid {
        max-width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width: 719px) {
    .photo-grid {
        max-width: 288px;
        gap: 12px;
    }
}