.footer__links {
    list-style-type: none;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    min-width: 465px;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

@media screen and (max-width: 640px) {
    .footer__links {
        font-size: 24px;
        line-height: 24px;
        min-width: 186px;
        min-height: 248px;
        flex-direction: column;
    }
}