.header__lang-link {
    line-height: 28px;
    color: #ffff;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
}
.header__lang-link:first-of-type {
    text-decoration-line: underline;
    padding-right: 18px;
}

@media screen and (max-width: 540px){
   .header__lang-link {
       line-height: 20px;
       font-size: 18px;
   }
}