.place__website {
    font-family: 'Inter', sans-serif;
    max-width: 456px;
    font-weight: 400;
    align-self: end;
}

@media screen and (max-width: 960px) {
    .place__website {
        max-width: 352px;
    }
}

@media screen and (max-width: 540px) {
    .place__website {
        margin-left: 16px;
        max-width: 288px;
    }
}